h1{
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 18px;
color: blue;
text-decoration: underline;
text-decoration-color: blue;
text-align: center;
background-color: aqua;
line-height: 50px;
font-style: oblique;
}

p{

    color: blue;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
background-color: blanchedalmond;

}
table,th,tr,td{
border: 2px solid black;
 border-collapse: collapse;

}
table{
width: 100%;
height: 100h;
background-color: azure;

}
td{
    text-align: center;
color: brown;
font-size: 18px;
font-weight: 20px;

}










