h1{

    color: blue;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: italic;
background-color: aqua;
font-weight: 300px;
text-align: center;
text-decoration: underline;
}

body{

    background-color: rgb(17, 150, 17);
    font-size: 20px;
}









