form{
    background-color: aqua;
width: 50%;
margin: auto;
padding: 40px;
border-radius: 20px;
box-shadow: 0 0 10px red;
color: rgb(2, 12, 5);
}

legend{

font-size: 30px;
text-align: center;
text-decoration: underline;
font-weight: bold;
text-shadow: 0 0 4px rgb(238, 254, 14);
margin-bottom: 20px;

}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],input[type="number"],input[type="date"],input[type="datetime-local"],select{

width: 100%;
height: 25px;
border-radius: 10px;
border: none;
padding-left: 20px;
box-shadow: 0 0 10px rgb(242, 249, 41);
margin-top: 10px;

}
textarea{

border-radius: 7px;

}
#btton{
    background-color: chartreuse;
padding: 10px;
border-radius: 7px;
display: block;
margin: auto;
}













