h1{
text-align: center;
font-size: 40px;
text-decoration: underline;

}
#shipping{
    color: blue;
}
#parragraph{

    color: rgb(194, 26, 51);
    font-weight: bold;
}
.new{
    font-style: italic;
}

#vip{

    background-color: rgb(243, 31, 207);
margin: 50px;
padding: 60px;
border-radius: 20px;
color: blue;
}

body{

    background-color: rgb(193, 193, 193);
}


#vip h3{

    text-align: center;
text-decoration: underline;
font-size: 30px;

}


#vip button{

    background-color: blue;
    color: rgb(240, 240, 40);
}
#vip:hover{
    background-color: chartreuse;
    color: rgb(12, 11, 9);
}


#surprises{

display: flex;
gap: 20px;
margin: 40px;
padding: 35px;

}

h4{

text-align: center;
text-decoration: underline;
color: red;

}
#courses{

    display: flex;
}

